body {
	display:inline;
}

.gitgud {
	color: pink;
	font-family: "Comic Sans MS";
	font-size: 800%;
	text-align: center;
	-webkit-text-stroke: 3px;
	-webkit-text-stroke-color: black;
}

.lflames {
	text-align: right;	
}

.rflames {
	position: relative;
	top: -755px;
	text-align: left;
	
}
